* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
.sign-in-form,
.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aqua;
  width: 300px;
  margin: auto;
  padding: 20px 0;
  border-radius: 10px;
}
.home-btns{
  display: flex;
  gap: 20px;
  justify-content: center;
}