* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  padding: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #151515;
}
h1 {
  color: #f3f3f3;
  font-size: 58px;
  text-align: center;
  margin-bottom: 30px;
}
h2 {
  color: #f3f3f3;
  font-size: 48px;
  text-align: center;
  margin-bottom: 30px;
}
